name: Build hsrp.tex

on:
  push:
    branches: [ master ]
  pull_request:


jobs:
  build_latex:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile LaTeX (hsrp.tex)
        uses: xu-cheng/latex-action@v3
        with:
          root_file: hsrp.tex

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: hsrp-pdf
          path: hsrp.pdf
